$PRIMARY-COLOR: #1b98e0;
$PRIMARY-COLOR-ALT: #818aa9;
$PRIMARY-COLOR-Hover: #006494;
$BACKGROUND-COLOR: #e0e0e0;
$NATIVE-WHITE: #fff;
$NATIVE-TRANSPARENT: #0202026e;
$NATIVE-BLACK: #1a1919;
$NATIVE-WARNING: #969696;
$NATIVE-GRAY: #353535;

@mixin center-content-flex-LR {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-content-flex-TD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadBox-wrapper {
  position: absolute;
  z-index: 1000;
  pointer-events: visible;
  width: 100%;
  height: 130vh;
  background-color: $NATIVE-TRANSPARENT;
  @include center-content-flex-TD();
  justify-content: flex-start;
  > .upload-box {
    transition: 1s;
    width: 35%;
    padding: 15px;
    background-color: $NATIVE-WHITE;

    margin-top: 15%;
    @include center-content-flex-TD();
    border-radius: 7px;
    > p {
      color: $NATIVE-GRAY;
      font-size: 1.3em;
      margin: 10px;
      font-weight: bolder;
    }
    > section.upload-preview-box {
      min-height: 10vh;
      width: 90%;
      border: 2px dashed $BACKGROUND-COLOR;
      padding: 5px;
      position: relative;
      @include center-content-flex-TD();
      > img {
        width: 40%;
        height: 21vh;
        border-radius: 10px;
      }
      > input {
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      > span {
        font-size: 0.7em;
        color: #969494;
        pointer-events: painted;
        > label {
          color: $PRIMARY-COLOR;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            font-size: 1.2em;
            font-weight: bold;
          }
          &:active {
            font-size: 1.2em;
            font-weight: bold;
            color: $PRIMARY-COLOR-ALT;
          }
        }
      }
    }
    > div.upload-control-box {
      width: 90%;
      margin: 5px;
      @include center-content-flex-LR();
      > .upload-cancel {
        border: none;
        background-color: $PRIMARY-COLOR;
        color: $NATIVE-WHITE;
        margin: 5px;
        padding: 5px;
        font-size: 0.8em;
        width: 25%;
        border-radius: 5px;
        &:hover {
          background-color: $PRIMARY-COLOR-Hover;
        }
        &:active {
          background-color: $PRIMARY-COLOR;
        }
        &:disabled {
          background-color: $PRIMARY-COLOR-ALT;
        }
      }
      > .upload-go {
        border: none;
        background-color: $PRIMARY-COLOR;
        color: $NATIVE-WHITE;
        margin: 5px;
        padding: 5px;
        font-size: 0.8em;
        width: 25%;
        border-radius: 5px;
        &:hover {
          background-color: $PRIMARY-COLOR-Hover;
        }
        &:active {
          background-color: $PRIMARY-COLOR;
        }
        &:disabled {
          background-color: $PRIMARY-COLOR-ALT;
        }
      }
    }
    div.progress-wrapper {
      width: 90%;
      height: 0.5vh;
      border-radius: 5px;
      > div.progress-bar {
        transition: 0.8s;
        height: 100%;
        background: linear-gradient(to left, $PRIMARY-COLOR, crimson);
        border-radius: 5px;
      }
    }
  }
}

.animate-drag-enter {
  animation: animateDrag 300ms infinite;
}

@keyframes animateDrag {
  0% {
    box-shadow: 0px 5px 7px $BACKGROUND-COLOR, 0px 5px 7px $BACKGROUND-COLOR,
      0px 5px 7px $BACKGROUND-COLOR, 0px 5px 7px $BACKGROUND-COLOR;
    background-position: 0%;
  }
  50% {
    border: 2px dashed $PRIMARY-COLOR;
  }
  70%,
  100% {
    border: 0px 5px 7px rgb(255, 255, 19), 0px 5px 7px rgb(255, 255, 19),
      0px 5px 7px rgb(255, 255, 19), 0px 5px 7px rgb(255, 255, 19);
  }
}

.preview-img-container {
  width: 11vw;
  height: 27vh;
  margin: 10px;
  // background-color: tomato;
  > .preview-img-content {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 5px;
    //the cancel button to
    > button {
      position: absolute;
      border: none;
      border-radius: 50%;
      padding: 3px;
      right: -3px;
      top: -3px;
      box-shadow: 0px 2px 2px 0px $NATIVE-GRAY;
      color: $NATIVE-WARNING;
      @include center-content-flex-LR();
      transition: 0.5s;
      background-color: $NATIVE-WHITE;
      &:hover {
        color: $NATIVE-WHITE;
        background-color: $NATIVE-WARNING;
        font-weight: bold;
      }

      > svg {
        font-size: 1em;
        font-weight: bold;
      }
    }
    > img {
      width: 100%;
      height: 92%;
      border-radius: 10px;
    }
    > p.img-name {
      width: 150px;
      height: 8%;
      font-weight: bold;
      text-align: center;
      font-size: 0.7em;
      overflow: hidden;
      margin: 0px;
      text-decoration: underline;
    }
    > p.img-size {
      width: 150px;
      height: 8%;
      font-weight: bold;
      text-align: center;
      font-size: 0.7em;
      overflow: hidden;
      margin: 0px;
      text-decoration: underline;
      position: absolute;
      border: none;
      border-radius: 50%;
      padding: 3px;
      left: 0px;
    }
  }
}

@media only screen and (min-width: 240px) and (max-width: 780px) {
  .uploadBox-wrapper {
    > .upload-box {
      width: 80%;
      margin-top: 45%;
      > section.upload-preview-box {
        background-color: darkblue;
        width: 100%;
        > img {
          width: 50vw;
        }
      }
      > div.upload-control-box {
        > .upload-cancel {
          width: 40%;
        }
        > .upload-go {
          width: 40%;
        }
      }
    }
  }
  .preview-img-container {
    width: 40vw;
  }
}
